.info_window {
  position: fixed;
  left: 30px;
  top: 30px;
  border: 1px solid black;
  border-left: 2px solid black;
  width: 215px;
  font-size: 10px;
  background-color: #fff;
  text-align: left;
  z-index: 99;
}

.info_window .header {
  width: 100%;
  padding: 4px;
  font-weight: 800;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  background-color: #CCC;
}

.info_window .content {
  padding: 0;
}

.info_window .header, .info_window .content {
  clear: left;
}

.highlight {
  background-color: yellow;
}

.layer_item {
  float: left;
  width: 100%;
  padding: 2px;
  cursor: pointer;
}

.content {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 400px;
}
