.navbar-component {
  background-color: #d0d0d0;
  color: #a0a0a0;
  padding: 0px 4px;
}

.navbar-component div {
  float: left;
  font-size: x-small;
  font-weight: 800;
  font-family: verdana, arial;
  padding: 0px 6px;
  border-right: 2px solid #666;
  color: -webkit-link;
  cursor: pointer;
}