<div class="main_content">

  <div class="header">
    <div class="col-xs-12" style="text-align: center;">
      <a href="https://strictdev.com/" target="strictd">
        <img src="img/logo.png" style="height: 130px;" border="0" />
      </a>
    </div>
  </div>

  <div class="content">
    <ng-content></ng-content>
    <br class="clear" /><br />
  </div>

  <div class="footer">
    <div class="col-xs-6">
      &copy; Copyright 2017, <span style="white-space: nowrap;"><a href="https://strictdevelopment.com" target="strict_development">Strict Development, Inc.</a></span> 
    </div>
    <div class="col-xs-6" style="text-align: right;">
      Powered by <a href="http://angular.io/" target="angular_io">Angular</a>
    </div>
    <br style="clear: left;" />
  </div>
</div>
