
.template-gadget {
  padding: 0px;
  margin: 0px;
  border: 1px solid black;
  background-color: #FFF;
}

.template-gadget .gadget-title {
  padding: 0px 4px;
}

.template-gadget .template-gadget-linkbar {
  font-size: 7pt;
  font-weight: bold;
  color: #660099;
  background-color: #CCC;
  cursor: pointer;
  padding: 0px;
  overflow: auto;
}

.template-gadget .template-gadget-header {
  width: 100%;
  font-size: 10pt;
  font-family: Verdana, Arial;
  font-weight: bold;
  color: #ffffff;
  background-color: #6060A0;
}

.template-gadget .tempate-gadget-body {
  overflow: auto;
}

.template-gadget .gadget-help {
  float: right;
}

.template-gadget .gadget-toggle {
  float: right;
}

.template-gadget .template-gadget-linkbar div {
  padding: 0px 4px;
}
