.google_map {
  border: 1px solid black;
  width: 400px;
  height: 300px;
}

.office_map {
  margin: 10px auto;
  text-align: center;
  background: url(/img/office_map.jpg) no-repeat;
  width: 400px;
  height: 300px;
 }

 .feedback {
   margin: 10px;
 }

 .person_name {
   font-weight: 800;
 }
 .person_title {
   font-size: 10pt;
 }
 .person_contact {
   font-size: 11pt;
 }